<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieSearcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B29B30D01E3DEE8F00BE3492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B29B30E71E3DEE8F00BE3492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B29B30F21E3DEE8F00BE3492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
